a {
	text-decoration: none;
	color: gray;
}

body {
 background-color: lightgray;
}

#topbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 auto;
	background-color: #55688a;
	padding: 10px;
	box-shadow: 10px 10px 5px #888888;
}


#title-bar {
	max-width: 950px;
	margin: 0 auto;
	height: 22px;
}
.header-links {
	padding: 4px;
	color: white;
	float: left;
	font-size: 10px;

}

.headers{
	display: block;
	float: right;
}

.journal-title {
	font-family: Verdana,sans-serif;
	margin: 0;
	padding:10px;
}

.journal-content {
	margin: 0;
	padding: 10px 20px;
}

.title-text {
	margin:0 auto;
	color: white;
	font-weight: normal;
	font-size: 15px;
	margin: 0;
	float: left;
	display: inline;
	text-transform: uppercase;
}

#container {
	margin:0 auto;
	max-width: 900px;
	padding: 15px;
}

#left-col{
	max-width: 650px;
	padding: 40px 20px 20px 20px;
	float:left;
}

.article{
	font-family: Verdana, sans-serif;
	background-color: white;
	padding: 30px;
	margin: 20px;
	box-shadow: 10px 10px 5px #888888;
}

.col-right {
	max-width: 200px;
	padding-top: 60px;
	float: left;
	
}

.aside-wrapper{

	background-color: white;
	box-shadow: 10px 10px 5px #888888;
}

ul {
	font-family: Verdana, sans-serif;
	list-style: none;
	padding: 0;
	margin: 0;

}

.list-small-text{
	font-size: 12px;
	font-weight: normal;
}

.list-header {
	font-size: 18px;
	font-weight: bold;
	color: black;
	padding: 15px;
}

.list-header ul{
	padding-left: 10px;
	padding-bottom: 10px;
}

.list-header li{
	padding-bottom: 5px;
}

.list-header ul li {
	padding: 0;
}

.metrics {
	position: fixed;
	left: -24px;
	top: 20%;
}

#metric-button {
	background-color: red;
	color: white;
	border: none;
	border-radius: 4px 4px 0 0;
	font-size: 16px;
	font-weight: bold;
	padding: 4px 8px 0 8px;
	-webkit-transform: rotate(90deg);
	box-shadow: 8px 8px 3px #888888;
}

.signups {
	position: fixed;;
	left: -28px;
	top: 35%;
}

#signup-button {
	background-color: green;
	color: white;
	border: none;
	border-radius: 4px 4px 0 0;
	font-size: 16px;
	font-weight: bold;
	padding: 4px 8px 0 8px;
	-webkit-transform: rotate(90deg);
	box-shadow: 8px 8px 3px #888888;
}
